<!-- Footer -->
<style>
.bg-secondary{
  background-color: #a0c654 !important;
  }
</style>

<footer class="footer py-1 bg-secondary text-white text-center">
Copyright &copy; 2020 David Krasowska
<br>
<a class="btn btn-github " href="https://github.com/Krasow">
  <i class="fa fa-github"></i>
</a>
<a class="btn btn-instagram " href="https://www.instagram.com/davidkrasowska/">
  <i class="fa fa-instagram"></i>
</a>
<a class="btn btn-twitter " href="https://twitter.com/davidkrasowska">
  <i class="fa fa-twitter"></i>
</a>
<a class="btn btn-paper-plane " href="mailto:dkrasow@g.clemson.edu">
  <i class="fa fa-paper-plane"></i>
</a>
</footer>
